<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
	<targets async="true">
		<!-- add your targets here -->

		<target name="file" xsi:type="File"
			  fileName="D:\logs\Template_NET_Framework\Template_NET_Framework.${data:format=yyyyMMdd}.log"
			  archiveFileName="D:\logs\Template_NET_Framework\Template_NET_Framework.{###}.log"
			  archiveNumbering="DataAndSequence"
				archiveDataFormat="yyyyMMdd"
		      archiveEvery="Day"
			  maxArchiveSize="500000000"
			  layout="${longdate} | ${threadid} | ${level:uppercase=true} | ${message} ${onexception:${newline}${exception:format=tostring}}"
			   />

	</targets>

	<rules>
		<!-- add your logging rules here -->
		<logger name="*" minlevel="Debug" writeTo="file" />
		<logger name="*" minlevel="Warn" writeTo="file" />
		<logger name="*" minlevel="Error" writeTo="file" />
	</rules>
</nlog>